<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<article class="post_messages"
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <p><%= friendly_date post.created_at %></p>
    <p><%= truncate(post.body, :length => 150) %></p>
    <p>
    </p>
  <% end %>
</article>
<br>

<% if current_user  %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-success', remote: true, id: "new_post_link" %>
<% end %>
