<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<article class="post_messages"
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <p><%= friendly_date post.created_at %></p>
    <p><%= post.body %></p>
    <p>    
    </p>
  <% end %>
</article>


<br>

<%= link_to 'New Post', new_post_path, remote: true, id: "new_post_link" %>
