<p id="notice"><%= notice %></p>

<div id="post_show_message">

<h2 >
  <%= @post.title %>
</h2>
<p><%= @post.body %></p>
</div>
<p>
  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info', remote: true, id: 'edit_post_link' %>
    <%= link_to 'Delete', @post, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<h3>Tags:</h3>
<div class="tag_messages">
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag)  %>
      <% if current_user && current_user.admin %>
      <br>
        <%= link_to 'Edit', edit_post_tag_path(@post, tag), class: 'btn btn-info', remote: true, id: "edit_tag_link" %>
        <%= link_to 'Delete', post_tag_path(@post, tag, remove_tag: "true"), class: 'btn btn-danger', data: {confirm: "Are you sure?", method: "delete"} %></li>
      <% end %>
      <br>
      <br>
  <% end %>
</div>
  <div id="tag_show_message">
  </div>


  <% if current_user %>
    <%= link_to 'New Tag', new_post_tag_path(@post), class: 'btn btn-success', remote: true, id: "new_tag_link"%>
  <% end %><br>
  <br>

<h3>Comments</h3>
<article class="comment_messages">
  <% @post.comments.each do |comment| %>
    <div id="comment_show_message">
      <%= comment.body  %>
    </div>
    <br>
    <% if current_user && current_user.admin %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'btn btn-info',remote: true, id: "edit_comment_link" %>
      <%= link_to 'Delete', post_comment_path(@post, comment), class: 'btn btn-danger', data: {confirm: "Are you sure?"}, method: "delete"%>
    <% end %>
    <br>
  <% end %>
</article>
  <br>



<% if current_user %>
  <%= link_to 'New Comment', new_post_comment_path(@post), class: 'btn btn-success',remote: true, id: "new_comment_link" %>
<% end %>
