<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
Tags:
<% @post.tags.each do |tag| %>
  <%= tag.name  %> <%= link_to 'Edit', edit_post_tag_path(@post, tag) %> <%= link_to 'Delete', post_tag_path(@post, tag), data: {confirm: "Are you sure?", method: "delete"}%></li>
<% end %>
<br>
<%= link_to 'New Tag', new_post_tag_path(@post) %> |
<%= link_to 'Edit', edit_post_path(@post) %>
<br>
<%= link_to 'Back', posts_path %>
